/* Pagina 1 */

.borda{
    margin: 0;
}

/*Começo */
.container-pri{
    max-width: 100%;
    margin: 0;
    background-color: rgb(182, 182, 182);
}    

.subtitulo button{
    display: block;
    width: 100%;
    background-color: #a39e8e;
}

.subtitulo{
    display: flex;
    gap: 5px;
    
}

.sub{
    font-size: 14px;
    font-weight: 400; 
    padding: 10px;
}
/*Navegação*/
.layaut{
    display: flex;
    width: 100%;
    background-color: #dedede;
}
.navegacao{
    width: 350px;
    flex-shrink: 0;
    overflow-x: auto;
    margin-right: 20px;
}

.navegacao h2{
    display: flex;
    align-items: center;
    background-color:  rgb(223, 223, 223);
    margin: 0;
}
.navegacao img{
    width: 27px;
    height: 27px;
    object-fit: cover;
}

.botao-nav button{
    display: block;
    width: 100%;  
}

.botao-nav {
    display: flex;
    gap: 5px;
    border-top : 3px solid ;
    border-color: rgb(0, 132, 255);    
}

.conteudo-nav table{
    border: 1px solid ;
    border-color: black;
}
.conteudo-nav th,
.conteudo-nav td {
    border: 1px solid #000;
    padding: 6px;
}
.conteudo-nav{
    background-color: rgb(182, 182, 182) ;
}
/*Page*/

.Page{
    flex: 1;
    min-width: 0;
    margin-top: 40px;
}

.Page h2{
    background-color: rgb(223, 223, 223);
    margin: 0;
}
.conteudo-pag table{
    border: 1px solid ;
    border-color: black;
}
.conteudo-pag th,
.conteudo-pag td {
    border: 1px solid #000;
    padding: 6px;
}
.conteudo-pag{
    background-color: rgb(182, 182, 182);
}
.botao-pag{
    border-top : 3px solid ;
    border-color: rgb(0, 132, 255);  
}
/*Attributes*/
.attributes{
    padding: 10px;
}

.attributes input,
.attributes select{
    width: 200px;
    padding: 6px;
    box-sizing: border-box;
}

.campo{
    
    flex-direction: column;
}

.attributes h2{
    margin-bottom: 15px;
    border-bottom: 3px solid;
    border-color: rgb(0, 132, 255);
}

.conteudo-atr{
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}